@using ClientApplicationMVC.Models;
@using ClientApplicationMVC.Controllers;

<link href="~/Content/ChatStyles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/CompanyListings/CompanyListingsFunctions.js"></script>
<h2 id="CompanyNameDisplay">@ViewBag.CompanyName</h2>
<br />
<p><b>Email:</b> @ViewBag.CompanyInfo.email</p>
<br />
<p><b>Phone Number:</b> @ViewBag.CompanyInfo.phoneNumber</p>
<br />
<p>@ViewBag.CompanyName can be found at these locations:</p>
<br />
@foreach (string location in ViewBag.CompanyInfo.locations)
{
    <p style="padding-left:4em;"><b>@location</b></p>
    <br />
}

@using (Html.BeginForm("GetCompanyReview", "CompanyListings", FormMethod.Post))
{
<div style="height:100px">
    <h4>Click the Button to Receive Reviews for this Company:</h4>
    <div style="float:left">
        <input type="submit" value="Get Reviews" class="btn btn-default" id="SendMessageButton" />
    </div>
</div>
}

<h1>@ViewBag.DM1</h1>
@if (ViewBag.Companyreviews != null)
{

    if (ViewBag.Companyreviews.Length == 0)
    {
        <p>Your request did not return any results. Please try again.</p>
    }
    else
    {
        <p style="font-size:larger">Results:</p> <br />
        <p>ViewBag.Companyreviews</p>
    }
}


@using (Html.BeginForm("PostCompanyReview", "CompanyListings", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return checkInputs(this)" }))
{
    <div style="height:100px">
        <h4>Leave a review for @ViewBag.CompanyName</h4>
        <div style="width:400px; float:left">
            @Html.TextBox("review")
        </div>
        <div style="width:400px; float:left">
            @Html.TextBox("star")
        </div>
        <div style="float:left">
            <input type="submit" value="Post Review" class="btn btn-default" id="PostReviewButton" />
        </div>
    </div>
    <br /><br />
}

<h1>@ViewBag.DM2</h1>
@if (ViewBag.Companyreviewpost != null)
{

    if (ViewBag.Companyreviewpost.Length == 0 || ViewBag.Companyreviewpost.Contains("fail"))
    {
        <p>Your review submission was not successful. Please try again.</p>
    }
    else
    {
        <p style="font-size:larger">Results:</p> <br />
        <p>ViewBag.Companyreviewpost</p>
    }
}



