@using ClientApplicationMVC.Models;
@using ClientApplicationMVC.Controllers;

<link href="~/Content/ChatStyles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/CompanyListings/CompanyListingsFunctions.js"></script>
<h2 id="CompanyNameDisplay">@ViewBag.CompanyName</h2>
<br />
<p><b>Email:</b> @ViewBag.CompanyInfo.email</p>
<br />
<p><b>Phone Number:</b> @ViewBag.CompanyInfo.phoneNumber</p>
<br />
<p>@ViewBag.CompanyName can be found at these locations:</p>
<br />
@foreach (string location in ViewBag.CompanyInfo.locations)
{
    <p style="padding-left:4em;"><b>@location</b></p>
    <br />
}

@using (Html.BeginForm("GetCompanyReview", "CompanyReview", new { companyName = ViewBag.CompanyName }, FormMethod.Post, null))
{
    <div style="height:100px">
        <h4>Click the Button to Receive Reviews for this Company:</h4>
        <div style="float:left">
            <input type="submit" value="Get Reviews" class="btn btn-default" id="SendMessageButton" />
        </div>
    </div>

    <h4>REVIEWS</h4>
    <p>@ViewBag.RESULTS</p>
}
@using (Html.BeginForm("PostCompanyReview", "CompanyReview", new { companyName = ViewBag.CompanyName, review = ViewBag.review.value, stars = ViewBag.star.value, username = Globals.getUser() }, FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return checkInputs(this)" }))
{
    <div style="height:100px">
        <h4>Leave a review for @ViewBag.CompanyName</h4>
        <div style="width:400px; float:left">
            <textarea class="messagetextarea" id="review" placeholder="Enter your review here." rows="3"></textarea>
        </div>
        <div style="width:400px; float:left">
            <textarea class="messagetextarea" id="star" placeholder="Enter the number of stars that you would rate this company here." rows="1"></textarea>
        </div>
        <div style="float:left">
            <button class="sendbutton" id="SendMessageButton">Send</button>
        </div>
    </div>
    <br /><br />
}



